<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}} Anaking</span>
      <span class="site-description">Full Stack {{site.user_title}}</span>
    </h1>
    <div>
      <p>
        Hello, I am a Full Stack Developer currently living in Surabaya,
        Indonesia. If you’d like to get in touch, feel free to say hello through
        any of the social links below.
      </p>
    </div>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:purnama.anaking@gmail.com"
        ><i class="icon fa fa-envelope"></i
      ></a>
      <a
        aria-label="My Instagram"
        target="_blank"
        href="https://instagram.com/purnamaanaking"
        ><i class="icon fa fa-instagram" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Linkedin"
        target="_blank"
        href="https://www.linkedin.com/in/purnamaanaking"
        ><i class="icon fa fa-linkedin" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Github"
        target="_blank"
        href="https://github.com/purnamaanaking"
        ><i class="icon fa fa-github-alt" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Youtube"
        target="_blank"
        href="https://youtube.com/purnamaanaking"
        ><i class="icon fa fa-youtube" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Twitter"
        target="_blank"
        href="https://twitter.com/purnamaanaking"
        ><i class="icon fa fa-twitter" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Facebook"
        target="_blank"
        href="https://facebook.com/purnamaanaking"
        ><i class="icon fa fa-facebook" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Medium"
        target="_blank"
        href="https://medium.com/@purnamaanaking"
        ><i class="icon fa fa-medium" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</div>
